<!-- WorkflowEngineSampleCode -->
<form
  class="form-horizontal"
  autocomplete="off"
  #createWorkflowForm="ngForm"
  (ngSubmit)="save()"
>
  <abp-modal-header
    [title]="'CreateNewWorkflowScheme' | localize"
    (onCloseClick)="bsModalRef.hide()"
  ></abp-modal-header>
  <div class="modal-body">
    <div class="form-group row required">
        <label class="col-md-3 col-form-label" for="name">
            {{ "Code" | localize }}
        </label>
        <div class="col-md-9">
            <input
              type="text"
              class="form-control"
              name="code"
              id="code"
              required
              minlength="2"
              maxlength="32"
              [(ngModel)]="scheme.code"
              #nameModel="ngModel"
              #nameEl
            />
            <abp-validation-summary
              [control]="nameModel"
              [controlEl]="nameEl"
            ></abp-validation-summary>
        </div>
    </div>
  </div>
  <abp-modal-footer
    [cancelDisabled]="saving"
    [saveDisabled]="!createWorkflowForm.form.valid || saving"
    (onCancelClick)="bsModalRef.hide()"
  ></abp-modal-footer>
</form>