.ui.form input[type=text],
.ui.form input[type=number],
.ui.form input[type=password],
.ui.form input[type=date],
.ui.form textarea,
.ui.input input{
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 2px;
    border-radius: 0;
}

.ui.form input[type=text]:focus,
.ui.form input[type=number]:focus,
.ui.form input[type=password]:focus,
.ui.form input[type=date]:focus,
.ui.form textarea:focus,
.ui.input input:focus {
    border-radius: 0;
}

div.field > label {
    font-size: 12px!important;
    color: #97A3B4!important;
    line-height: 16px!important;
    font-weight: inherit!important;
}

.ui.dropdown .menu {
    width: 100%!important;
}

.ui.dropdown > .text {
    width: calc(100% - 20px)!important;
}

.ui.dropdown {
    width: 100%!important;
    padding-top: 8px!important;
    border-bottom: 1px solid rgba(34,36,38,.15)!important;
    padding-bottom: 9px!important;
}

.ui.multiple.dropdown>.text{
    margin: 0;
}

.ui.secondary.pointing.menu .active.item, .ui.secondary.pointing.menu .active.item:hover{
    border-color: #1362e2;
}

.ui.secondary.pointing.menu .active.item > span{
    color: #1362e2;
}


.ui.selection.dropdown {
    border: none;
    padding-left: 2px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-bottom: 1px;
    white-space: pre;
}
.ui.selection.dropdown div.text{
    padding-top: 4px;
}

.dwkit-workflowbar{
    padding-bottom: 10px;
}

.dwkit-workflowbar .setstate{
    margin-right: 5px;
    display: inline-block;
    width: 200px;
}

.dwkit-collectioneditor{
    width: 100%;
}
.dwkit-collectioneditor-header{
    font-weight: 600;
}

.dwkit-collectioneditor tr > td{
    padding-right: 10px;
}


.dwkit-collectioneditor .field .ui.input input,
.dwkit-collectioneditor .ui.form .fields .field .ui.input input,
.ui.form .dwkit-collectioneditor .field .ui.input input{
    width: 100%;
}

.dwkit-collectioneditor .ui.input{
    width: 100%;
}

.dwkit-collectioneditor .ui.input input{
    width: 100%;
    flex: none;
}

.dwkit-collectionedit-imgbutton{
    height: 15px;
}

.dwkit-collectioneditor tr > td.dwkit-collectionedit-button{
    padding-right: 5px;
    padding-top: 8px;
}

.dwkit-collectioneditor-expandcol{
    width: 20px;
}

.dwkit-collectioneditor-buttoncol{
    width: 70px;
}

/*
 Others
*/
.ui.form input[type=text], .ui.form input[type=number], .ui.form textarea{
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 2px;
    padding-right: 2px;
    border-radius: 0;
}

input[type=text], input[type=number], textarea{
    border-top: none;
    border-left: none;
    border-right: none;
    padding-left: 2px;
    border-radius: 0;
}

.ui.input input[type=number],
.ui.form .ui.input input[type=number]{
    text-align: right;
}

div.field > label {
    font-size: 12px!important;
    color: #97A3B4!important;
    line-height: 16px!important;
    font-weight: inherit!important;
}

.ui.dropdown .menu {
    width: 100%!important;
}

.ui.dropdown > .text {
    width: calc(100% - 20px)!important;
}

.ui.dropdown {
    width: 100% !important;
    padding-top: 8px !important;
    border-bottom: 1px solid rgba(34,36,38,.15)!important;
    padding-bottom: 9px !important;
}

.ui.dropdown[data-buildertype=dropdowntrigger] {
    border-bottom: none !important;
    width: auto!important;
}

.ui.secondary.pointing.menu .active.item, .ui.secondary.pointing.menu .active.item:hover{
    border-color: #1362e2;
}

.ui.secondary.pointing.menu .active.item > span{
    color: #1362e2;
}


.react-grid-Grid{
    border:none;
}
.react-grid-Main{
    outline: none;
}

.react-grid-Header{
    background: transparent;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: rgba(148,149,154,0.20);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(148,149,154,0.20);
}
.react-grid-HeaderRow {
    background: #F4F4F4;
    border-radius: 0 0 2px 2px;
}

.react-grid-HeaderCell{
    border:none;
    background: transparent;
}

.react-grid-Row{
    cursor: pointer;
    border: none;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: rgba(148,149,154,0.20);
}

.react-grid-Cell--locked:last-of-type{
    border:none;
}

.react-grid-Cell{
    border:none;
    background: transparent;
}

.dwkit-gridview-autoHeight .react-grid-Main{
    height: 100%;
}

.dwkit-gridview-autoHeight .react-grid-Container{
    height: 100%;
}

.dwkit-gridview-autoHeight .react-grid-Grid{
    min-height: 100% !important;
}

.dwkit-gridview-autoHeight .react-grid-Canvas{
    height: 100% !important;
}

.ui.form .fields .field {
    margin: 0 0 1em;
}

.dwkit-gridview-rowloading{
    background: #F9F9F9;
}


.ui.form .fields{
    margin-bottom: 0px;
}

.ui.form .field:last-child, .ui.form .fields:last-child .field {
    margin-bottom: 14px;
}


.ui.primary.button,
.ui.primary.button:focus{
    background: #f24d00;
    border: 1px solid #f24d00;
    border-radius: 2px;
    font-weight: normal ;
    color: #FFFFFF;
}

.ui.primary.button:hover{
    background: #CA4000;
}

.ui.primary.button:active{
    background: #B63A00;
}

.ui.secondary.button,
.ui.secondary.button:focus{
    background: #FFFFFF;
    border: 1px solid #f24d00;
    border-radius: 2px;
    font-weight: normal ;
    color: #f24d00;
}

.ui.secondary.button:hover{
    background: #FF4A06;
    color: #FFFFFF;
}

.ui.secondary.button:active{
    background: #DB3E04;
    color: #FFFFFF;
}

/**
* Application
**/

.dwkit-application{

}

.ui.image.dwkit-application-header-logo img{
    height: 51px;
    margin-left: 39px;
}

.dwkit-application-header{
    height: 100px;
}

.dwkit-application-header-left{
    width: 200px;
    float: left;
    margin-top: 18px;
}

.dwkit-application-header-center{
    float: left;
    margin-top: 24px;
    margin-left: 70px;
}

.dwkit-application-header-center .ui.selection.dropdown{
    width:300px!important;
    padding-top: 16px!important;
    margin-left: 10px;
}

.dwkit-application-header-right{
    float:right;
    margin-right: 30px;
    margin-top: 25px;
}

.dwkit-application-header .ui.menu{
    border: none;
    box-shadow: none;
    font-size: 12px;
}

.dwkit-application-header .ui.menu{
    padding-right: 5px;
}

.dwkit-application-header .ui.menu:not(.vertical) .item{
    padding-right: 5px;
    padding-left: 5px;
}

.dwkit-application-header .ui.menu .item:before{
    background: none;
}

.dwkit-application-content{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}
.dwkit-application-footer{
    clear:both;
    box-shadow: 0 -2px 2px -2px rgba(0,0,0,0.50);
    color: #6D6D6D;
    text-align:center;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;
}

.dwkit-application-basecontent{
    min-height: 300px;
}

.dwkit-application-top{
    background-image: linear-gradient(-180deg, #F2F2F2 0%, rgba(254,254,254,0.00) 100%);
    height: 15px;
    width: 100%;
}

.dwkit-application-topmenu {
    background: #F4F4F4;
    height: 61px;
    padding-left: 20px;
    padding-right: 20px;
}

.dwkit-application-topmenu .ui.menu{
    border: none;
    box-shadow: none;
    font-size: 14px;
    margin-bottom: 10px;
    background: transparent;
    padding-top: 10px;
}

.dwkit-application-topmenu .ui.menu .item {
    color: #1262E2;
}

.dwkit-application-topmenu .ui.menu .item:before{
    background: none;
}

.dwkit-application-topmenu .ui.selection.dropdown{
    background: transparent;
}


/**
 * Alertify
 */

.alertify,
.alertify-show,
.alertify-log {
    -webkit-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -moz-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -ms-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    -o-transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition: all 500ms cubic-bezier(0.175, 0.885, 0.320, 1.275); /* easeOutBack */
}
.alertify-hide {
    -webkit-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    transition: all 250ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}
.alertify-log-hide {
    -webkit-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -moz-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -ms-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    -o-transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045);
    transition: all 500ms cubic-bezier(0.600, -0.280, 0.735, 0.045); /* easeInBack */
}
.alertify-cover {
    position: fixed; z-index: 99999;
    top: 0; right: 0; bottom: 0; left: 0;
    background-color:white;
    filter:alpha(opacity=0);
    opacity:0;
}
.alertify-cover-hidden {
    display: none;
}
.alertify {
    position: fixed; z-index: 99999;
    top: 50px; left: 50%;
    width: 550px;
    margin-left: -275px;
    opacity: 1;
}
.alertify-hidden {
    -webkit-transform: translate(0,-150px);
    -moz-transform: translate(0,-150px);
    -ms-transform: translate(0,-150px);
    -o-transform: translate(0,-150px);
    transform: translate(0,-150px);
    opacity: 0;
    display: none;
}
/* overwrite display: none; for everything except IE6-8 */
:root *> .alertify-hidden {
    display: block;
    visibility: hidden;
}
.alertify-logs {
    position: fixed;
    z-index: 5000;
    bottom: 10px;
    right: 10px;
    width: 300px;
}
.alertify-logs-hidden {
    display: none;
}
.alertify-log {
    display: block;
    margin-top: 10px;
    position: relative;
    right: -300px;
    opacity: 0;
}
.alertify-log-show {
    right: 0;
    opacity: 1;
}
.alertify-log-hide {
    -webkit-transform: translate(300px, 0);
    -moz-transform: translate(300px, 0);
    -ms-transform: translate(300px, 0);
    -o-transform: translate(300px, 0);
    transform: translate(300px, 0);
    opacity: 0;
}
.alertify-dialog {
    padding: 25px;
}
.alertify-resetFocus {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.alertify-inner {
    text-align: center;
}
.alertify-text {
    margin-bottom: 15px;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 100%;
}
.alertify-buttons {
}
.alertify-button,
.alertify-button:hover,
.alertify-button:active,
.alertify-button:visited {
    background: none;
    text-decoration: none;
    border: none;
    /* line-height and font-size for input button */
    line-height: 1.5;
    font-size: 100%;
    display: inline-block;
    cursor: pointer;
    margin-left: 5px;
}

@media only screen and (max-width: 680px) {
    .alertify,
    .alertify-logs {
        width: 90%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
    .alertify {
        left: 5%;
        margin: 0;
    }
}


.alertify,
.alertify-log {
    font-family: sans-serif;
}
.alertify {
    background: #FFF;
    border: 10px solid #333; /* browsers that don't support rgba */
    border: 10px solid rgba(0,0,0,.7);
    border-radius: 8px;
    box-shadow: 0 3px 3px rgba(0,0,0,.3);
    -webkit-background-clip: padding;     /* Safari 4? Chrome 6? */
    -moz-background-clip: padding;     /* Firefox 3.6 */
    background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */
}
.alertify-text {
    border: 1px solid #CCC;
    padding: 10px;
    border-radius: 4px;
}
.alertify-button {
    border-radius: 4px;
    color: #FFF;
    font-weight: bold;
    padding: 6px 15px;
    text-decoration: none;
    text-shadow: 1px 1px 0 rgba(0,0,0,.5);
    box-shadow: inset 0 1px 0 0 rgba(255,255,255,.5);
    background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image:    -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image:     -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image:      -o-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
    background-image:         linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,0));
}
.alertify-button:hover,
.alertify-button:focus {
    outline: none;
    background-image: -webkit-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
    background-image:         linear-gradient(top, rgba(0,0,0,.1), rgba(0,0,0,0));
}
.alertify-button:focus {
    box-shadow: 0 0 15px #2B72D5;
}
.alertify-button:active {
    position: relative;
    box-shadow: inset 0 2px 4px rgba(0,0,0,.15), 0 1px 2px rgba(0,0,0,.05);
}
.alertify-button-cancel,
.alertify-button-cancel:hover,
.alertify-button-cancel:focus {
    background-color: #FE1A00;
    border: 1px solid #D83526;
}
.alertify-button-ok,
.alertify-button-ok:hover,
.alertify-button-ok:focus {
    background-color: #5CB811;
    border: 1px solid #3B7808;
}

.alertify-log {
    background: #1F1F1F;
    background: rgba(0,0,0,.9);
    padding: 15px;
    border-radius: 4px;
    color: #FFF;
    text-shadow: -1px -1px 0 rgba(0,0,0,.5);
}
.alertify-log-error {
    background: #f24d00;/*#FE1A00;*/
    background: #f24d00;/*rgba(254,26,0,.9);*/
}
.alertify-log-success {
    background: #1362e2;/*#5CB811;*/
    background: #1362e2;/*rgba(92,184,17,.9);*/
}