div.workflowenginecontainerstage > div.konvajs-content{
    outline: 2px solid #F0F0F0;
    border: 2px solid #CDCDCD;
}

table.WorkflowDesignerTable {
    /*border-top: 1px solid #E7E7E7;
    border-bottom: 1px solid #E7E7E7;*/
    border-spacing: 0px;
    width: 100%;
}
    
table.WorkflowDesignerTable td.ColumnChecked {
    text-align: center; 
}

table.WorkflowDesignerTable td{
	padding-left: 5px;   
	padding-right: 5px;
	border-top: 1px solid #E7E7E7;         
}
    
table.WorkflowDesignerTable td.columnTree{
    padding-left: 20px;   
}
        
table.WorkflowDesignerTable tr:hover td,
table.WorkflowDesignerTable tr.even:hover td.active,
table.WorkflowDesignerTable tr.odd:hover td.active {
    background: #F2F2F2;
}

div.WorkflowDesignerDialog {
    font-size:13px;
}

.WorkflowDesignerDialog .field-validation-error {
    border-color:#FF0033;
}  

.WorkflowDesignerDialog a.btnDelete{
    background:url('../images/designer.form.delete.png') center no-repeat; 
    text-indent: -9999px;
    display: block;
    width: 24px;
    height: 24px;
}

table.WorkflowDesignerTable > tbody > tr > td > input {
    padding: 5px 0px 5px 5px;
    border-radius: 4px;
    border-width: 0.7px;
}

table.WorkflowDesignerTable > tbody > tr > td > button.ui-button {
    background: transparent;
    border: none;
}


table.WorkflowDesignerTable > tbody > tr > td > div > div> input {
    padding: 5px 0px 5px 5px;
    border-radius: 4px;
    border-width: 0.7px;
}

table.WorkflowDesignerTable > tbody > tr > td > select {
    padding: 4px;
    border-radius: 4px;
    border-width: 0.7px;
}

.WorkflowDesignerTable td {
    min-height: 40px;
    height: 40px;
}


.WorkflowDesignerDialog .ui-dialog .ui-dialog-title {
    margin-top: 15px;
}

.WorkflowDesignerDialog .ui-widget-content a{
    color: #5E9CE7;
    text-decoration: none;
}

.WorkflowDesignerDialog .ui-autocomplete {
    max-height: 400px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:9999!important;
}

.WorkflowDesignerDialog .ui-dialog, .ui-dialog-content { 
    overflow: visible;
}

.WorkflowDesignerDialog .ui-dialog, .ui-widget-content{
    background: #FFFFFF;
    padding: 0;
}

.WorkflowDesignerDialog .ui-widget-header {
    background: #F2F2F2;
    border: none;
    color: #333;
    height: 40px;
}

.WorkflowDesignerDialog .ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

.WorkflowDesignerDialog .ui-dialog-title{
    margin-top:10px;
}

.WorkflowDesignerDialog .ui-dialog-titlebar-close {
    margin-right:10px;
}

