 <footer class="footer clearfix">
     <b>Only non-commercial use. For commercial use, please contact <a href="mailto:sales@optimajet.com">sales@optimajet.com</a>.</b>
     <nav class="menu_bottom">
         Copyright by <a href="http://OptimaJet.com">OptimaJet.com</a> 2012
     </nav>
 </footer>