<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Budget2.DAL.Properties.Settings.it_budgetConnectionString"
            connectionString="Data Source=EBETIN-PC;Initial Catalog=it_budget;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Budget2.DAL.Properties.Settings.Budget2ConnectionString"
            connectionString="Data Source=pmtask.ru\sqlexpress;Initial Catalog=Budget2;Persist Security Info=True;User ID=budget_user;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="Budget2.DAL.Properties.Settings.Budget2ConnectionString1"
            connectionString="Data Source=(local);Initial Catalog=Budget2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
