<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Budget2.DAL.Properties.Settings.Budget2ConnectionString"
            connectionString="Data Source=(local);Initial Catalog=Budget2;Persist Security Info=True;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />      
    </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
