<!-- WorkflowEngineSampleCode -->
<style>
.editform-toolbar{
    margin-bottom: 5px;
}

.editform-toolbar > button{
    margin-right: 2px;
}

#wfdesigner{
    background-color: white;
}

</style>

<div class="editform-toolbar">
    <button class="btn btn-primary waves-effect" type="button" (click)="save()"> Save </button>
    <button class="btn btn-default waves-effect" type="button" (click)="download()"> Download </button>
    <button class="btn btn-default waves-effect" type="button" (click)="upload()"> Upload </button>
</div>
<iframe  id="designer" src="/assets/workflow/designer.html"  
    frameborder="0" 
    border="0" 
    cellspacing="0" 
    style="border-style: none;width: 100%; height: 600px;"
    >
</iframe>

<div style="display: none">
    <form action="" id="uploadform" method="post" enctype="multipart/form-data" onsubmit="tmp()">
        <input type="file" name="uploadFile" id="uploadFile">
    </form>
</div>