<h3>{{ customTitle ? customTitle : labels.Title }}</h3>
<el-form
  ref="form"
  :model="FormData"
  class="WorkflowDesignerWindowForm"
  label-position="top"
  label-width="150px">

  <div v-if="Field.State != undefined" class="SettingsWithPadding">
    <div class="el-form--inline el-form--label-top">
      <el-form-item
        :label="customLabels.Name"
        :prop="Field.Name.Name"
        :rules="getFieldRules(Field.Name)"
        class="el-form-item"
        style="flex-grow: 1;">
        <el-input v-model="FormData.Name" :readonly="readonly"></el-input>
      </el-form-item>

      <el-form-item
        :label="customLabels.State"
        :prop="Field.State.Name"
        :rules="getFieldRules(Field.State)"
        class="el-form-item"
        style="flex-grow: 1;">
        <el-input v-model="FormData.State" :readonly="readonly"></el-input>
      </el-form-item>
    </div>
  </div>

  <h4 v-if="Field.State != undefined" style="padding-bottom: 1px;border-bottom: 1px solid rgba(34,36,38,.15);">
    {{ customLabels.Heading }}</h4>
  <div :class="Field.State != undefined ?'SettingsWithPadding' : '' " style="margin-bottom: 10px;">

    <div class="el-form--inline el-form--label-top" style="width: 100%">
      <el-form-item
        v-if="Field.MailServer"
        :label="customLabels.MailServer"
        :prop="Field.MailServer.Name"
        :rules="getFieldRules(Field.MailServer)"
        class="el-form-item"
        style="flex-grow: 1;">
        <el-input v-model="FormData.MailServer" :readonly="readonly"></el-input>
      </el-form-item>

      <el-form-item
        v-if="Field.MailServerPort"
        :prop="Field.MailServerPort.Name"
        :rules="getFieldRules(Field.MailServerPort)"
        class="el-form-item"
        style="flex-grow: 1;">
                <span slot="label">{{ customLabels.MailServerPort }}
                    <span
                      :style="parameterFromProcess.MailServerPort ? {color:parameterFromProcessColor}: {}"
                      class="WorkflowDesignerParameterFromProcess"
                      @click="function(){FormData.MailServerPort = null; parameterFromProcess.MailServerPort = !parameterFromProcess.MailServerPort}">@
                    </span>
                </span>
        <el-input v-if="!parameterFromProcess.MailServerPort" v-model="FormData.MailServerPort" :disabled="readonly"
                  type="number"></el-input>
        <el-input v-if="parameterFromProcess.MailServerPort" v-model="FormData.MailServerPort" :disabled="readonly"
                  style="width:180px"></el-input>
      </el-form-item>
    </div>

    <div class="el-form--inline el-form--label-top">
      <el-form-item
        v-if="Field.MailServerFrom"
        :label="customLabels.MailServerFrom"
        :prop="Field.MailServerFrom.Name"
        :rules="getFieldRules(Field.MailServerFrom)"
        class="el-form-item"
        style="flex-grow: 1;">
        <el-input v-model="FormData.MailServerFrom" :readonly="readonly"></el-input>
      </el-form-item>
      <el-form-item
        :label="customLabels.To"
        :prop="Field.To.Name"
        :rules="getFieldRules(Field.To)"
        class="el-form-item"
        style="flex-grow: 1;">
        <el-input v-model="FormData.To" :readonly="readonly"></el-input>
      </el-form-item>
    </div>

    <div class="el-form--inline el-form--label-top">
      <el-form-item
        :label="customLabels.CcList"
        :prop="Field.CcList.Name"
        :rules="getFieldRules(Field.CcList)"
        class="el-form-item"
        style="flex-grow: 1;">
        <el-select
          v-model="FormData.CcList"
          :readonly="readonly"
          allow-create
          filterable
          multiple
          style="width: 100%">
        </el-select>
      </el-form-item>
      <el-form-item
        :label="customLabels.BccList"
        :prop="Field.BccList.Name"
        :rules="getFieldRules(Field.BccList)"
        class="el-form-item"
        style="flex-grow: 1;">
        <el-select
          v-model="FormData.BccList"
          :readonly="readonly"
          allow-create
          filterable
          multiple
          style="width: 100%">
        </el-select>
      </el-form-item>
    </div>

    <el-form-item
      :label="customLabels.ReplyToList"
      :prop="Field.ReplyToList.Name"
      :rules="getFieldRules(Field.ReplyToList)"
      class="el-form-item"
      style="flex-grow: 1;">
      <el-select
        v-model="FormData.ReplyToList"
        :readonly="readonly"
        allow-create
        filterable
        multiple>
      </el-select>
    </el-form-item>

    <el-form-item
      :label="customLabels.Subject"
      :prop="Field.Subject.Name"
      :rules="getFieldRules(Field.Subject)">
      <el-input v-model="FormData.Subject" :readonly="readonly"></el-input>
    </el-form-item>


    <div class="el-form--inline el-form--label-top">
      <el-form-item
        v-if="Field.MailServerSsl"
        :prop="Field.MailServerSsl.Name"
        :rules="getFieldRules(Field.MailServerSsl)">
                <span slot="label">{{ customLabels.MailServerSsl }}
                    <span
                      :style="parameterFromProcess.MailServerSsl ? {color:parameterFromProcessColor}: {}"
                      class="WorkflowDesignerParameterFromProcess"
                      @click="function(){FormData.MailServerSsl =parameterFromProcess.MailServerSsl ? false : null; parameterFromProcess.MailServerSsl = !parameterFromProcess.MailServerSsl}">@
                    </span>
                </span>
        <el-checkbox
          v-if="!parameterFromProcess.MailServerSsl"
          v-model="FormData.MailServerSsl"
          :disabled="readonly"
          style="width:180px">
        </el-checkbox>
        <el-input v-if="parameterFromProcess.MailServerSsl" v-model="FormData.MailServerSsl" :disabled="readonly"
                  style="width:180px"></el-input>
      </el-form-item>
      <el-form-item
        :prop="Field.IsHTML.Name"
        :rules="getFieldRules(Field.IsHTML)">
                <span slot="label">{{ customLabels.IsHTML }}
                    <span
                      :style="parameterFromProcess.IsHTML ? {color:parameterFromProcessColor}: {}"
                      class="WorkflowDesignerParameterFromProcess"
                      @click="function(){FormData.IsHTML = parameterFromProcess.IsHTML ? false : null; parameterFromProcess.IsHTML = !parameterFromProcess.IsHTML}">@
                    </span>
                </span>
        <el-checkbox
          v-if="!parameterFromProcess.IsHTML"
          v-model="FormData.IsHTML"
          :disabled="readonly"
          style="width:180px">
        </el-checkbox>
        <el-input v-if="parameterFromProcess.IsHTML" v-model="FormData.IsHTML" :disabled="readonly" style="width:180px"></el-input>
      </el-form-item>
      <el-form-item
        v-if="Field.MailServerLogin || Field.MailServerPass"
        :label="customLabels.UseAuth">
        <el-checkbox
          v-model="useAuth"
          :disabled="readonly">
        </el-checkbox>
      </el-form-item>
    </div>

    <div v-if="useAuth" class="el-form--inline el-form--label-top">
      <el-form-item
        v-if="Field.MailServerLogin"
        :label="customLabels.MailServerLogin"
        :prop="Field.MailServerLogin.Name"
        :rules="getFieldRules(Field.MailServerLogin)"
        class="el-form-item"
        style="flex-grow: 1;">
        <el-input v-model="FormData.MailServerLogin" :readonly="readonly"></el-input>
      </el-form-item>
      <el-form-item
        v-if="Field.MailServerPass"
        :label="customLabels.MailServerPass"
        :prop="Field.MailServerPass.Name"
        :rules="getFieldRules(Field.MailServerPass)"
        class="el-form-item"
        style="flex-grow: 1;">
        <el-input v-model="FormData.MailServerPass" :readonly="readonly"></el-input>
      </el-form-item>
    </div>

    <el-form-item
      :label="customLabels.Body"
      :prop="Field.Body.Name"
      :rules="getFieldRules(Field.Body)">
      <el-input v-model="FormData.Body" :readonly="readonly" rows="5" type="textarea"></el-input>
    </el-form-item>

  </div>

</el-form>


<div class="WorkflowDesignerButtons">
  <el-button v-if="!readonly" type="primary" @click="onSave">{{ ButtonTextSave }}</el-button>
  <el-button @click="onClose">{{ ButtonTextCancel }}</el-button>
</div>

<script type="application/javascript">
  function customforms_basicsplugin_sendemailform_Init(me) {
    me.VueConfig.methods.UpdateLanguage = function () {
      me.VueConfig.data = Object.assign(me.VueConfig.data, {
        labels: WorkflowDesignerConstants.EditParametersFormlabel,
        customLabels: WorkflowDesignerConstants.EditParametersFormlabel.CustomForms.SendEmail,
        ButtonTextSave: WorkflowDesignerConstants.ButtonTextSave,
        ButtonTextCancel: WorkflowDesignerConstants.ButtonTextCancel,
        parameterFromProcessColor: WorkflowDesignerConstants.ParameterFromProcessColor,
      })
    }

    me.VueConfig.methods.UpdateLanguage();
    me.VueConfig.data = Object.assign(me.VueConfig.data, {
      customTitle: undefined,
      readonly: false,
      parameterFromProcess: {
        MailServerPort: false,
        MailServerSsl: false,
        IsHTML: false
      },
      FormData: {},
      Field: {},
      useAuth: false
    });

    me.VueConfig.methods.onUpdate = function (value) {
      me.VueConfig.data.readonly = me.graph.Settings.readonly;

      if (me.options && me.options.customTitle) {
        me.VueConfig.data.customTitle = me.options.customTitle;
      }

      var fields = undefined;
      var parameterDefinition = me.options.parameterDefinition;

      if (parameterDefinition && parameterDefinition.name) {
        for (var i = 0; i <= parameterDefinition.type.length; i++) {
          fields = me.graph.getActionParameterDefinition(parameterDefinition.name, parameterDefinition.type[i]);
          if (fields && fields.length > 0)
            break;
        }
      } else if (Array.isArray(me.options.parameterDefinition)) {
        fields = me.options.parameterDefinition;
      }

      if (fields && fields.length > 0) {
        fields.forEach(function (field) {
          field.Label = field.Title ? field.Title : field.Name;
          if (field.Comment && field.Comment !== '') {
            field.Label = field.Label + ' (' + field.Comment + ')';
          }

          me.VueConfig.data.Field[field.Name] = field;
        });

        if (!value && !me.VueConfig.data.readonly) {
          var tmp = {};

          fields.forEach(function (field) {
            if (field.Type === 'Checkbox') {
              field.DefaultValue = field.DefaultValue !== null && field.DefaultValue !== undefined && field.DefaultValue.toString() === 'true';
            }

            if (typeof field.DefaultValue != 'undefined') {
              tmp[field.Name] = field.DefaultValue;
            } else {
              tmp[field.Name] = null;
            }
          });

          value = WorkflowDesignerCommon.toString(tmp);
        }
      }

      me.VueConfig.data.FormData = WorkflowDesignerCommon.toJSON(value);

      if (!me.VueConfig.data.FormData)
        me.VueConfig.data.FormData = {};

      for (key in me.VueConfig.data.FormData) {
        if (me.VueConfig.data.parameterFromProcess[key] != undefined && WorkflowDesignerCommon.containsAt(me.VueConfig.data.FormData[key]))
          me.VueConfig.data.parameterFromProcess[key] = true;
        if (key !== '__customtype' && me.VueConfig.data.FormData.hasOwnProperty(key))
          if (!me.VueConfig.data.Field.hasOwnProperty(key))
            delete me.VueConfig.data.FormData[key];
      }

      me.VueConfig.data.FormData.CcList = WorkflowDesignerCommon.toJSON(me.VueConfig.data.FormData.CcList, []);
      me.VueConfig.data.FormData.BccList = WorkflowDesignerCommon.toJSON(me.VueConfig.data.FormData.BccList, []);
      me.VueConfig.data.FormData.ReplyToList = WorkflowDesignerCommon.toJSON(me.VueConfig.data.FormData.ReplyToList, []);

      me.VueConfig.data.FormData = me.graph.insertDefaultValuesInForm(me.VueConfig.data.Field, me.VueConfig.data.FormData)

      me.VueConfig.data.useAuth = me.VueConfig.data.FormData.MailServerPass != null || me.VueConfig.data.FormData.MailServerLogin != null
    };

    me.VueConfig.methods.getFieldRules = function (field) {
      var rules = field.IsRequired ? me.requiredRule() : [{required: false}];

      if (me.VueConfig.data.parameterFromProcess[field.Name]) {
        rules.push(WorkflowDesignerCommon.containsAtRule);
      }

      return rules;
    };

    me.VueConfig.methods.onSave = function () {
      this.$refs.form.validate(function (valid) {
        if (valid) {
          if (!me.VueConfig.data.useAuth) {
            me.VueConfig.data.FormData.MailServerLogin = null;
            me.VueConfig.data.FormData.MailServerPass = null;
          }

          var FormData = me.VueConfig.data.FormData;

          FormData.CcList = WorkflowDesignerCommon.toString(FormData.CcList);
          FormData.BccList = WorkflowDesignerCommon.toString(FormData.BccList);
          FormData.ReplyToList = WorkflowDesignerCommon.toString(FormData.ReplyToList);

          var value = WorkflowDesignerCommon.toString(FormData);
          me.onSuccess(WorkflowDesignerCommon.toCompactJSON(value));
          me.onClose(true);
        }
      });
    };

    me.VueConfig.methods.onClose = function () {
      me.onClose(true);
    };
  }
</script>
