<appSettings>
  <add key="externalService.getDocStatusUrl" value="http://localhost:9080/IccCftGetDocStatusService/IccCftGetDocStatus"/>
  <add key="externalService.newDocExportUrl" value="http://localhost:9080/IccBossNewDocWsWeb/sca/IccBossNewDocExport"/>
  <add key="SmtpServer" value="smtp.yandex.ru"/>
  <add key="SmtpServerPort" value="25"/>
  <add key="SenderEmail" value="babor-service2@yandex.ru"/>
  <add key="SmtpServerUserName" value="babor-service2@yandex.ru"/>
  <add key="SmtpServerUserDomain" value=""/>
  <add key="SmtpServerPassword" value="uFp3yPRIdX"/>
  <add key="UPKZMailAddressTo" value="betin.evgeniy@gmail.com,betin.evgeniy.club@gmail.com"/>
  <add key ="DefaultFilialCode" value="3"/>
  <add key = "HeadFilialCode" value="3"/>
  <add key ="BossAvailiableExecutorCode" value="120"/>
  <add key="BudgetYearForUpload" value="2011"/>
  <add key="PublicPagesUrl" value="http://localhost:8090"/>
</appSettings>