<connectionStrings>
  <clear />
  <add name="default" connectionString="Data Source=(local);Initial Catalog=Budget2;Persist Security Info=True;User ID=sa;Password=1"/>
  <!--<add name="default" connectionString="Data Source=(local);Initial Catalog=Budget2;Persist Security Info=True;User ID=budget_user;Password=1"/>-->
</connectionStrings>