<div class="wfe-application-footer">
    <span style="padding-top: 20px;">
        <b>Only non-commercial use. For commercial use, please contact <a href="mailto:sales@optimajet.com">sales@optimajet.com</a>.</b>
        Official site - <a href="https://workflowengine.io">https://workflowengine.io</a>
    </span>
</div>