@using System.Linq

@{
    int folder = 0;
    if (HttpContext.Current != null)
    {
        if (HttpContext.Current.Request.RawUrl.ToLower().Contains("inbox"))
        {
            folder = 1;
        }
        else if (HttpContext.Current.Request.RawUrl.ToLower().Contains("outbox"))
        {
            folder = 2;
        }
    }
}
<div style="width: 300px; float: left;">
    <div class="ui menu">
        <a href="/" class="item">@Html.Raw(folder == 0 ? "<b>All vacation requests</b>" : "All vacation requests")</a>
        <a href="/Document/Inbox" class="item">@Html.Raw(folder == 1 ? "<b>Inbox</b>" : "Inbox")</a>
        <a href="/Document/Outbox" class="item">@Html.Raw(folder == 2 ? "<b>Outbox</b>" : "Outbox")</a>
    </div>
</div>