<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OptimaJet.Workflow.DbPersistence.Properties.Settings.SampleWorkflowEngineNETConnectionString"
            connectionString="Data Source=(local)\SQL2012;Initial Catalog=SampleWorkflowEngineNET;Integrated Security=True;User ID=sa"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>