.WorkflowDesignerDialog [type="checkbox"]:not(.filled-in) + label:after{
	-webkit-transform: none!important;
	transform: none!important;
}

.WorkflowDesignerDialog [type="checkbox"]:checked + label:before {
    -webkit-transform: none!important;
	transform: none!important;
}

.WorkflowDesignerDialog [type="checkbox"]:not(.filled-in) + label:after {
  border: 0;
  -webkit-transform: none;
          transform: none;
}