<nav class="menu_main">
    <ul>
        <li><b><a href="/designer">Designer</a></b></li>
        <li><a href="/">Documents</a></li>
        <li><a href="@Url.Action("Edit", "Settings")">Settings</a></li>
    </ul>
</nav>