div.workflowenginecontainerstage{
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.ui.dimmer.WorkflowDesignerDialog {
    z-index: 10001;
}

.ui.modal.WorkflowDesignerConfirmDialog {
    z-index: 10004 !important;
}

.ui.modal.WorkflowDesignerDialogChild {
    z-index: 10002 !important;
}

table.WorkflowDesignerTable {
    width: 100%;
}
 
table.WorkflowDesignerTable td {
    padding-right: 10px;
} 

.WorkflowDesignerDialog .ui.selection.dropdown{
    padding-bottom: 0.6em;
}

.WorkflowDesignerDialog .ui.dividing.header{
    border-bottom-color: rgba(34, 36, 38, 0.3);
}

.WorkflowDesignerDialog .field-validation-error {
    border-color: #FF0033 !important;
}

.WorkflowDesignerDialog .field-validation-error input {
    border-color: #FF0033 !important;
}

.WorkflowDesignerDialog .ui.dropdown.field-validation-error {
    border-color: #FF0033 !important;
}

.WorkflowDesignerDialog .checkbox.field-validation-error label::before {
    border-color: #FF0033 !important;
}

.WorkflowDesignerDialog .modal .error-message {
    color: #FF0033;
}

.WorkflowDesignerDialog a.btnDelete {
    /* background: url('../images/wfe.delete.png') round; */
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAKN2lDQ1BzUkdCIElFQzYxOTY2LTIuMQAAeJydlndUU9kWh8+9N71QkhCKlNBraFICSA29SJEuKjEJEErAkAAiNkRUcERRkaYIMijggKNDkbEiioUBUbHrBBlE1HFwFBuWSWStGd+8ee/Nm98f935rn73P3Wfvfda6AJD8gwXCTFgJgAyhWBTh58WIjYtnYAcBDPAAA2wA4HCzs0IW+EYCmQJ82IxsmRP4F726DiD5+yrTP4zBAP+flLlZIjEAUJiM5/L42VwZF8k4PVecJbdPyZi2NE3OMErOIlmCMlaTc/IsW3z2mWUPOfMyhDwZy3PO4mXw5Nwn4405Er6MkWAZF+cI+LkyviZjg3RJhkDGb+SxGXxONgAoktwu5nNTZGwtY5IoMoIt43kA4EjJX/DSL1jMzxPLD8XOzFouEiSniBkmXFOGjZMTi+HPz03ni8XMMA43jSPiMdiZGVkc4XIAZs/8WRR5bRmyIjvYODk4MG0tbb4o1H9d/JuS93aWXoR/7hlEH/jD9ld+mQ0AsKZltdn6h21pFQBd6wFQu/2HzWAvAIqyvnUOfXEeunxeUsTiLGcrq9zcXEsBn2spL+jv+p8Of0NffM9Svt3v5WF485M4knQxQ143bmZ6pkTEyM7icPkM5p+H+B8H/nUeFhH8JL6IL5RFRMumTCBMlrVbyBOIBZlChkD4n5r4D8P+pNm5lona+BHQllgCpSEaQH4eACgqESAJe2Qr0O99C8ZHA/nNi9GZmJ37z4L+fVe4TP7IFiR/jmNHRDK4ElHO7Jr8WgI0IABFQAPqQBvoAxPABLbAEbgAD+ADAkEoiARxYDHgghSQAUQgFxSAtaAYlIKtYCeoBnWgETSDNnAYdIFj4DQ4By6By2AE3AFSMA6egCnwCsxAEISFyBAVUod0IEPIHLKFWJAb5AMFQxFQHJQIJUNCSAIVQOugUqgcqobqoWboW+godBq6AA1Dt6BRaBL6FXoHIzAJpsFasBFsBbNgTzgIjoQXwcnwMjgfLoK3wJVwA3wQ7oRPw5fgEVgKP4GnEYAQETqiizARFsJGQpF4JAkRIauQEqQCaUDakB6kH7mKSJGnyFsUBkVFMVBMlAvKHxWF4qKWoVahNqOqUQdQnag+1FXUKGoK9RFNRmuizdHO6AB0LDoZnYsuRlegm9Ad6LPoEfQ4+hUGg6FjjDGOGH9MHCYVswKzGbMb0445hRnGjGGmsVisOtYc64oNxXKwYmwxtgp7EHsSewU7jn2DI+J0cLY4X1w8TogrxFXgWnAncFdwE7gZvBLeEO+MD8Xz8MvxZfhGfA9+CD+OnyEoE4wJroRIQiphLaGS0EY4S7hLeEEkEvWITsRwooC4hlhJPEQ8TxwlviVRSGYkNimBJCFtIe0nnSLdIr0gk8lGZA9yPFlM3kJuJp8h3ye/UaAqWCoEKPAUVivUKHQqXFF4pohXNFT0VFysmK9YoXhEcUjxqRJeyUiJrcRRWqVUo3RU6YbStDJV2UY5VDlDebNyi/IF5UcULMWI4kPhUYoo+yhnKGNUhKpPZVO51HXURupZ6jgNQzOmBdBSaaW0b2iDtCkVioqdSrRKnkqNynEVKR2hG9ED6On0Mvph+nX6O1UtVU9Vvuom1TbVK6qv1eaoeajx1UrU2tVG1N6pM9R91NPUt6l3qd/TQGmYaYRr5Grs0Tir8XQObY7LHO6ckjmH59zWhDXNNCM0V2ju0xzQnNbS1vLTytKq0jqj9VSbru2hnaq9Q/uE9qQOVcdNR6CzQ+ekzmOGCsOTkc6oZPQxpnQ1df11Jbr1uoO6M3rGelF6hXrtevf0Cfos/ST9Hfq9+lMGOgYhBgUGrQa3DfGGLMMUw12G/YavjYyNYow2GHUZPTJWMw4wzjduNb5rQjZxN1lm0mByzRRjyjJNM91tetkMNrM3SzGrMRsyh80dzAXmu82HLdAWThZCiwaLG0wS05OZw2xljlrSLYMtCy27LJ9ZGVjFW22z6rf6aG1vnW7daH3HhmITaFNo02Pzq62ZLde2xvbaXPJc37mr53bPfW5nbse322N3055qH2K/wb7X/oODo4PIoc1h0tHAMdGx1vEGi8YKY21mnXdCO3k5rXY65vTW2cFZ7HzY+RcXpkuaS4vLo3nG8/jzGueNueq5clzrXaVuDLdEt71uUnddd457g/sDD30PnkeTx4SnqWeq50HPZ17WXiKvDq/XbGf2SvYpb8Tbz7vEe9CH4hPlU+1z31fPN9m31XfKz95vhd8pf7R/kP82/xsBWgHcgOaAqUDHwJWBfUGkoAVB1UEPgs2CRcE9IXBIYMj2kLvzDecL53eFgtCA0O2h98KMw5aFfR+OCQ8Lrwl/GGETURDRv4C6YMmClgWvIr0iyyLvRJlESaJ6oxWjE6Kbo1/HeMeUx0hjrWJXxl6K04gTxHXHY+Oj45vipxf6LNy5cDzBPqE44foi40V5iy4s1licvvj4EsUlnCVHEtGJMYktie85oZwGzvTSgKW1S6e4bO4u7hOeB28Hb5Lvyi/nTyS5JpUnPUp2Td6ePJninlKR8lTAFlQLnqf6p9alvk4LTduf9ik9Jr09A5eRmHFUSBGmCfsytTPzMoezzLOKs6TLnJftXDYlChI1ZUPZi7K7xTTZz9SAxESyXjKa45ZTk/MmNzr3SJ5ynjBvYLnZ8k3LJ/J9879egVrBXdFboFuwtmB0pefK+lXQqqWrelfrry5aPb7Gb82BtYS1aWt/KLQuLC98uS5mXU+RVtGaorH1futbixWKRcU3NrhsqNuI2ijYOLhp7qaqTR9LeCUXS61LK0rfb+ZuvviVzVeVX33akrRlsMyhbM9WzFbh1uvb3LcdKFcuzy8f2x6yvXMHY0fJjpc7l+y8UGFXUbeLsEuyS1oZXNldZVC1tep9dUr1SI1XTXutZu2m2te7ebuv7PHY01anVVda926vYO/Ner/6zgajhop9mH05+x42Rjf2f836urlJo6m06cN+4X7pgYgDfc2Ozc0tmi1lrXCrpHXyYMLBy994f9Pdxmyrb6e3lx4ChySHHn+b+O31w0GHe4+wjrR9Z/hdbQe1o6QT6lzeOdWV0iXtjusePhp4tLfHpafje8vv9x/TPVZzXOV42QnCiaITn07mn5w+lXXq6enk02O9S3rvnIk9c60vvG/wbNDZ8+d8z53p9+w/ed71/LELzheOXmRd7LrkcKlzwH6g4wf7HzoGHQY7hxyHui87Xe4Znjd84or7ldNXva+euxZw7dLI/JHh61HXb95IuCG9ybv56Fb6ree3c27P3FlzF3235J7SvYr7mvcbfjT9sV3qID0+6j068GDBgztj3LEnP2X/9H686CH5YcWEzkTzI9tHxyZ9Jy8/Xvh4/EnWk5mnxT8r/1z7zOTZd794/DIwFTs1/lz0/NOvm1+ov9j/0u5l73TY9P1XGa9mXpe8UX9z4C3rbf+7mHcTM7nvse8rP5h+6PkY9PHup4xPn34D94Tz+49wZioAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAXgSURBVHictVhdaBxVFD7nzuxO2s02iSH4220oNQ8+SKFQKog/RQQffVMxDxbRosXU7KaJTZvZsTW/uyuhRVREQV8qERULoj4ohb4K/jzU4kMlQq1i7W7SNEmzO9dz5s5sM7Ob3Z3d9IbNzNx77jnf+c6959wZXUoJYdroZO6BSAQm6fYx+ukg4WdAOZ5OJs8GZYVlidcBOtsMA98aGbkaypDb9DDCx8dzOyIGnKfbLvpdpt8NQNgLgF+amcx+K5U6x3JmNvscAr481h6nMWjjvnQ29xeAfP/a/PzE7Ozs6qYDPJbJ7NYMkVXg5Ik3h4ZM27ZlOpN5GlB8jijeI2AnUeKTiNhPcpL+LpED7IhGv93kiNm1fccjAwMDTzUKsi7AgwcPRu7a1ZfVURyiRySjv15Zuj7J4Hg8nUp9YWZz7yDAK8TaJyTB7XdZhGet4cEfPT2jk5PdeiR6BhGe6EokLOoa2RSAd+7qO01GX6LbS0TJWP7P+bl3A95bycFXj0/nPhUCHqbHf64uLZ45bZrX18vwGjw2MfG8HjUukp9D6encD+kjg982DZBDqoM4QB6/CCpc5wnons5EYg+FskJeaOXbnu729hPVZLRolDVdID37KOjM/EcoYbUI9scnU6mfQgGkkL5GlxfKHQj96MavpXZLxRZeFvxMRHTS84FQAGmBLbEuykLDEuxfWkdW2RDEgxShKba1kczGa1BCnr1DlBesZOqb2wEwnc1GHErZVmiAYBdoZdEFO28HOGWCdAvPVvVWA6BwvJJCdgRHKI8Z1fIY9/N1o7FgP+tW61qEZxA9BqWfQdqdb3cldvQfsqzeYCqh/nPu7b71/W9MT3fQ2CWqJh+kk4NHbiEk3ejZCgmQ3HPWINVZH4PUdS9duu/YupWvF/1zoLeaKk3TtjN+Gr/PN+DoRmUrLMASlAoaV6gAg1JiAdlrIRpem5okIM4k6QfiMsi2QgO0S6W8RtkXAwwqI7RySo1vHqrNjiw75+9XDBLG8ABRSjUpwCApU5tHq9w8GzXKcx2oAFVl0C4Ww4f48s2bhUTU2ZQ+IGSs4BSDEOkH3RBLG4NMdXi2QgP80DRXaNetkIdBIMrbyv4aCJUzFaFUOlbYVmiATpOOQj+DUuYRHQ4bDnFZNlgxpNO/IXv1AaKjsNff5SoMwyAo2RIUqzH4R/MAmUEE44BltZXDYNt50Lg+yYYBSkBnk9i2XmaQdSba44YbpeYAStp1nATuiUY5FA5A3nGapnNyCBFidobOLvZKGUxPLNbp2WgaoBdOoeus7G++X1hbK3QZzntQ47vYdWbVMMpgDGdnV9k4YQCCl/PWbYhTlrU4NpMphQkxqPnF6WSyfO5bp7N5Br2c51UCbs6bXDZHXocJscN2oIq41aUVBr2qISpTSoE094QAyPOvrO/wdOJmMAhYUTX4pNO737L0702zWEuH89p6f1+MtAVSzGYwyKVJOMnZz6B6HcCHDIP7a37SiN/d16GmoI8p1skJHyvLX+MAQbgnlwCDHrOa2t01AUba1kgmwm/8VdegstEkwFIJC5qmEq1voHzkqn8mjEDEnRtg0E3ebKNpgHSkyqsX2YqUotKPXv/IxTLofDEJrEE3eSsbTQLEVfLOgIqqUU6ujRy53De3YEL2dDo2mgVY1KmsOSIyuAbzKj/WryZCqFOzrEgnikG20TTAqeXlxbH2uF2RlKX8j9ERyJivH+nAEmgELIbeHL8w67TZxkSzAG3TtKlqLECg7i4uLX21LRZPL4M950djHw7qWJHysy2A3TwnMMQ6F9hGLQyNfMAsBAHmTJPDYgUF06nUXLBvKpW6Uk0WVCWpGd7GAEo6xSBsH7CsbbOmuVBXvoE2MjMTbxNanG5/axkgraHvaA3t7YzFh+lxdDMAtgnBuoSU8HXLAG8swWysHfhD5tF0JvcMsdkaixK20QbbSXfza6W1Uy0DnDEH/z06NfVoRNdnqTw9Tl07WwKIsEz/z94srh0eHx6+Vk/8f5pAMZ44qi8RAAAAAElFTkSuQmCC') round;
    text-indent: -9999px;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.WorkflowDesignerDialog a.btnCodeActions {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAKN2lDQ1BzUkdCIElFQzYxOTY2LTIuMQAAeJydlndUU9kWh8+9N71QkhCKlNBraFICSA29SJEuKjEJEErAkAAiNkRUcERRkaYIMijggKNDkbEiioUBUbHrBBlE1HFwFBuWSWStGd+8ee/Nm98f935rn73P3Wfvfda6AJD8gwXCTFgJgAyhWBTh58WIjYtnYAcBDPAAA2wA4HCzs0IW+EYCmQJ82IxsmRP4F726DiD5+yrTP4zBAP+flLlZIjEAUJiM5/L42VwZF8k4PVecJbdPyZi2NE3OMErOIlmCMlaTc/IsW3z2mWUPOfMyhDwZy3PO4mXw5Nwn4405Er6MkWAZF+cI+LkyviZjg3RJhkDGb+SxGXxONgAoktwu5nNTZGwtY5IoMoIt43kA4EjJX/DSL1jMzxPLD8XOzFouEiSniBkmXFOGjZMTi+HPz03ni8XMMA43jSPiMdiZGVkc4XIAZs/8WRR5bRmyIjvYODk4MG0tbb4o1H9d/JuS93aWXoR/7hlEH/jD9ld+mQ0AsKZltdn6h21pFQBd6wFQu/2HzWAvAIqyvnUOfXEeunxeUsTiLGcrq9zcXEsBn2spL+jv+p8Of0NffM9Svt3v5WF485M4knQxQ143bmZ6pkTEyM7icPkM5p+H+B8H/nUeFhH8JL6IL5RFRMumTCBMlrVbyBOIBZlChkD4n5r4D8P+pNm5lona+BHQllgCpSEaQH4eACgqESAJe2Qr0O99C8ZHA/nNi9GZmJ37z4L+fVe4TP7IFiR/jmNHRDK4ElHO7Jr8WgI0IABFQAPqQBvoAxPABLbAEbgAD+ADAkEoiARxYDHgghSQAUQgFxSAtaAYlIKtYCeoBnWgETSDNnAYdIFj4DQ4By6By2AE3AFSMA6egCnwCsxAEISFyBAVUod0IEPIHLKFWJAb5AMFQxFQHJQIJUNCSAIVQOugUqgcqobqoWboW+godBq6AA1Dt6BRaBL6FXoHIzAJpsFasBFsBbNgTzgIjoQXwcnwMjgfLoK3wJVwA3wQ7oRPw5fgEVgKP4GnEYAQETqiizARFsJGQpF4JAkRIauQEqQCaUDakB6kH7mKSJGnyFsUBkVFMVBMlAvKHxWF4qKWoVahNqOqUQdQnag+1FXUKGoK9RFNRmuizdHO6AB0LDoZnYsuRlegm9Ad6LPoEfQ4+hUGg6FjjDGOGH9MHCYVswKzGbMb0445hRnGjGGmsVisOtYc64oNxXKwYmwxtgp7EHsSewU7jn2DI+J0cLY4X1w8TogrxFXgWnAncFdwE7gZvBLeEO+MD8Xz8MvxZfhGfA9+CD+OnyEoE4wJroRIQiphLaGS0EY4S7hLeEEkEvWITsRwooC4hlhJPEQ8TxwlviVRSGYkNimBJCFtIe0nnSLdIr0gk8lGZA9yPFlM3kJuJp8h3ye/UaAqWCoEKPAUVivUKHQqXFF4pohXNFT0VFysmK9YoXhEcUjxqRJeyUiJrcRRWqVUo3RU6YbStDJV2UY5VDlDebNyi/IF5UcULMWI4kPhUYoo+yhnKGNUhKpPZVO51HXURupZ6jgNQzOmBdBSaaW0b2iDtCkVioqdSrRKnkqNynEVKR2hG9ED6On0Mvph+nX6O1UtVU9Vvuom1TbVK6qv1eaoeajx1UrU2tVG1N6pM9R91NPUt6l3qd/TQGmYaYRr5Grs0Tir8XQObY7LHO6ckjmH59zWhDXNNCM0V2ju0xzQnNbS1vLTytKq0jqj9VSbru2hnaq9Q/uE9qQOVcdNR6CzQ+ekzmOGCsOTkc6oZPQxpnQ1df11Jbr1uoO6M3rGelF6hXrtevf0Cfos/ST9Hfq9+lMGOgYhBgUGrQa3DfGGLMMUw12G/YavjYyNYow2GHUZPTJWMw4wzjduNb5rQjZxN1lm0mByzRRjyjJNM91tetkMNrM3SzGrMRsyh80dzAXmu82HLdAWThZCiwaLG0wS05OZw2xljlrSLYMtCy27LJ9ZGVjFW22z6rf6aG1vnW7daH3HhmITaFNo02Pzq62ZLde2xvbaXPJc37mr53bPfW5nbse322N3055qH2K/wb7X/oODo4PIoc1h0tHAMdGx1vEGi8YKY21mnXdCO3k5rXY65vTW2cFZ7HzY+RcXpkuaS4vLo3nG8/jzGueNueq5clzrXaVuDLdEt71uUnddd457g/sDD30PnkeTx4SnqWeq50HPZ17WXiKvDq/XbGf2SvYpb8Tbz7vEe9CH4hPlU+1z31fPN9m31XfKz95vhd8pf7R/kP82/xsBWgHcgOaAqUDHwJWBfUGkoAVB1UEPgs2CRcE9IXBIYMj2kLvzDecL53eFgtCA0O2h98KMw5aFfR+OCQ8Lrwl/GGETURDRv4C6YMmClgWvIr0iyyLvRJlESaJ6oxWjE6Kbo1/HeMeUx0hjrWJXxl6K04gTxHXHY+Oj45vipxf6LNy5cDzBPqE44foi40V5iy4s1licvvj4EsUlnCVHEtGJMYktie85oZwGzvTSgKW1S6e4bO4u7hOeB28Hb5Lvyi/nTyS5JpUnPUp2Td6ePJninlKR8lTAFlQLnqf6p9alvk4LTduf9ik9Jr09A5eRmHFUSBGmCfsytTPzMoezzLOKs6TLnJftXDYlChI1ZUPZi7K7xTTZz9SAxESyXjKa45ZTk/MmNzr3SJ5ynjBvYLnZ8k3LJ/J9879egVrBXdFboFuwtmB0pefK+lXQqqWrelfrry5aPb7Gb82BtYS1aWt/KLQuLC98uS5mXU+RVtGaorH1futbixWKRcU3NrhsqNuI2ijYOLhp7qaqTR9LeCUXS61LK0rfb+ZuvviVzVeVX33akrRlsMyhbM9WzFbh1uvb3LcdKFcuzy8f2x6yvXMHY0fJjpc7l+y8UGFXUbeLsEuyS1oZXNldZVC1tep9dUr1SI1XTXutZu2m2te7ebuv7PHY01anVVda926vYO/Ner/6zgajhop9mH05+x42Rjf2f836urlJo6m06cN+4X7pgYgDfc2Ozc0tmi1lrXCrpHXyYMLBy994f9Pdxmyrb6e3lx4ChySHHn+b+O31w0GHe4+wjrR9Z/hdbQe1o6QT6lzeOdWV0iXtjusePhp4tLfHpafje8vv9x/TPVZzXOV42QnCiaITn07mn5w+lXXq6enk02O9S3rvnIk9c60vvG/wbNDZ8+d8z53p9+w/ed71/LELzheOXmRd7LrkcKlzwH6g4wf7HzoGHQY7hxyHui87Xe4Znjd84or7ldNXva+euxZw7dLI/JHh61HXb95IuCG9ybv56Fb6ree3c27P3FlzF3235J7SvYr7mvcbfjT9sV3qID0+6j068GDBgztj3LEnP2X/9H686CH5YcWEzkTzI9tHxyZ9Jy8/Xvh4/EnWk5mnxT8r/1z7zOTZd794/DIwFTs1/lz0/NOvm1+ov9j/0u5l73TY9P1XGa9mXpe8UX9z4C3rbf+7mHcTM7nvse8rP5h+6PkY9PHup4xPn34D94Tz+49wZioAAAAJcEhZcwAACxIAAAsSAdLdfvwAAAJ8SURBVHic7ZlPaNNQGMC/l2Z2WIZ60dt6GBvelM2rYoWh9tKLB/EfnrQHodAklY6uSZvRSZdEvO/iSTwP6h9E/APqQZHdZCdFQVDwkg20te/5va6dIsWlps8EyQ++vi8NlF/z8f7kPZkxBkbdOQ4xtgBADgDACARLC4CtQpuUjEL+nrwpBw2UI3jjDbbfgvVjcXSY4U7olpYxMfFbQhlNV1X1brBym3Qf2h3uJuM1L+taWOQ4vLSG7axhepAL7sAIuKx94U4jctAW2xEJ+iUS9Esk6JdI0C+RoF88CepLziVcjCWqG+4NqutUtNSveBIkEruMn9PlxNjJgm2fqyvKJ9FiPTwJfqU0MyrFbgGB2Z1AXpdt+2xVUR4JduvgSfCapn04VqmkDifGTCz1VQnIA91yDHPDrYkuuedO8lDXv2NTLFvWU4lIN1HUxJIfEV3ygXsxrrwb87XadCw++k9K/lfDjDk39z6bzab2TU4uEyAXsOT3S4uLyYVi8WMoBDl7J6Yy+BqY4TkDWHnWbH4entZPBhbM5XLx3eNJS5LgCl62GDDF1LTrlFImwG8wQewgE3vGk7cxncF416bt0yj3oqIoItw6eBYsLzmnJElaxnQXxoq77l60df2LMLMu3qY6yzGxpCXgJWVUMwsFW1RJf8fbVEcghV3hLRqdqajqcwzRXlt4Enyy7h7lbXew7othOQ6Oi+f73GriU+d/7LEwwT+JiWZo60FDzeexyQ/r93r8HwvWIIkE/cIFmxjxoEX6wJ1aXHAV4xDOsyfCssva3QKewvSlDG2Y5xvWuEpuGLYdjk30GNnPE+4md/aD6046PMcQhB9DvOodQ/wA7UvdB4k3g+wAAAAASUVORK5CYII=') round;
    text-indent: -9999px;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.WorkflowDesignerDialog a.btnConcatParameters {
    cursor: pointer;
    float: right;
}

.WorkflowDesignerDialog div.headerbuttons{
    float: right;
}

.WorkflowDesignerDialog .fillscreen{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAYAAACM/rhtAAAABGdBTUEAALGPC/xhBQAAAAlwSFlzAAAWJAAAFiQBmxXGFAAAABh0RVh0U29mdHdhcmUAcGFpbnQubmV0IDQuMS41ZEdYUgAABVVJREFUWEfNl9luXEUQhsfb7IvH2zC2cSbJGDtexvu9XyLXIQSiEEAIgVjEjd+UGMR14ryA+b921UlP+ygJOhPJJf3qc6r7dP1dVd1dp3R9fX0nkUle511AJnmddwGZ5HXeBUimDJ9GTk5OngivheuPxF/CE/scmRY+GcEpM5hH5H14zbc3U5RmBEhOVDwsEPw/3ssQzTErQLK4xDnz+PHjsPKjo6Ovjo+PX+WReB/4lnl2dnbKaiE5EZkSSQhOG0EmnhsOhxWwvr5eA/1+v35wcPA8j5iDb22Oqt7n1E5Epi4uLlh5Rk4IxNTWl5eXm2rbIvciJZRC49xzdXueiHhoZ2QkJheICfOHh4cvUzJ50Fi+g1hDqAqFxZPayTF5Rq7T6XRF7ruUCBiNRj+mOr4bDAYQa1lbWELunZ+fe2iZlPDgua7C+n1KAuzt7f2i/o1UL11HwHt8z0ILSyAozLDzbNV4r7O/v5/rud3d3d/U/4UwTPukWxAgNzmCbBDzYEUI4VX4vk2NAy3iD/U/Mmyn/dItC/MCBIlEYck8KJR9c8jYZWpc5H5X346wJ+wLu+kY6XpC8GKv1yPUxcTPPyEQFKocKzL2JjassP6qvm0BcqNyuTxSu6++tz5Gh/s/0n0meJiLhxiCHmIZYZN4iF/qJvlbuLINMRSpR8Le3Nzcgd7BaGtr608R+1fj3mrcz9L1hUU7OyeTg0K4QfzW0HtL6DabzeVarbam54EAweBBtYQXD+JJ3gn7psC4mODkjhkhzsFAUFgRIHhPeFipVLYgI+zqnVADyG3RL2wI/Vartai2zoLVFhPPQdvFZe5btZkH1a4KGL4vgkOB44VQbwPehU3hgfTrjUbDcxDvFb/qok0SCAp4kATHgxDE4Fq1WsWLkMRTEA3QM+/3hY16vc5i/JhhLnJ6XJToXgmnFe6YxOOU4E/dg1GIMbIkEGbyal34XIDoQITJN54B+jV5r2fh7dh8pM24GDE/Hqhwb4n0kMuOEMYJobxSt4cYgouEGcN6hmTfvLTK5gH2Th/kWBCe5/sZq5BuRKEK4UoMc3B6rUdbkre+TMdI90r9oYoRINjsdrvcqRjDIxgmdCsinIF30wPGMZ704ICeDgTduCM1zkDH2dnZ07QfnJ6ePlN/qGQsxBhoQXLeRO8Y71LdqF1wnb3P24LwnJdZN5yMoFfC06lxy4VZSvi0Dxg5ErpsIQ7VjF1TnGUYBXimtbS01FpYWGjTRv20DRZnxQbzwKtU8kLTwG0wRkC6ssg9S/WGryFlxBxVM4InASEH/ux6wLgwNiLGYnFKJjPmpRCilITy65tUZ/rnGp8ZxEBCNMB0GHVd2X6IstaA/dm83ZuRE2p5ZFLIoy+iEDUtnLWIoBuMjd5CrHditnPf7V4Jk1TsBmjkEYrBv4XG3UruhGQgJnjqZBvNCdA6kj7fsDeCm6Od184j5VD5/oPGrNh55UcD11Inqj6cYEYMw9FR5a2ajEyKd0Lu+P2JV/KIfQCXlFYW8jGCkDFChYTdw+o7XDM5BD4Gb4wgCyX/CK97rZj43cnBybUkY1eJ8Q9CO/qSs03z1EgZEj7Kp2JiBJmcXOqpNP+J0juPSB5E7oqNgweZyzYJ+TeR8CKEBYIkPJc21QVlEEVk9oNDkSnwJ4b+AeWTVcvcp+zoluVy8KDayXhQUrejAoJUFpRBFJVUvuEHxxD+wgTKdhYwcILtdhvvZwSF8UqkoNQtf9yDENwUOQj6v8OhtRDGi5tWgK5aVRI8KJAu8REzEQ/GOUj1e49K18LpHgx/YPZOmf4wJugeFAJBLzyEglIq/QdGZT1kptHXkwAAAABJRU5ErkJggg==') round;
    text-indent: -9999px;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: inherit;
    margin-right: 5px;
}

.WorkflowDesignerDialog .close{
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAACXBIWXMAABYlAAAWJQFJUiTwAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAHrSURBVHgB7Zg9bsJAEEbHNkgp0/Jzh1ggenOCkI4uuUnIDXKDcATaVNCDkOlIlzSQkguAMyMBcqy18ezOdvMkBF4b7/e89u7IAIqiKIqiKNYEwCSO46TRaDyeTqfNer2eggAu52QJUEdRFM0v21mWTbDDN3Cg1+u9BkEwuQYKguFqtVrU/X8IDMIwTPLb1DEFAEuK4QkchQQYsATw6s/w65BvowD9fv8ZmJjC44geUGAKDCLOwbvd7rfdbn/hz3Fh1wjbv/f7/abOeSrCD9M03QIDlgCBIbetVusHA4wKu2pJ3AifAhO2AIEhUxsJ6fCElQDBlfARnrAWIOpK+ApPsBcyExjwBQN+GHY9YdAHX+EJEQGiQuIfkuEJp1soD91OnU6HLkhSdox0eEJMgMB1YlEm4SM8wVqJ64AhM1M73l7QbDZBGrFngDDNNgUOWE8Nl8ul2CiIjUDZVFk47B5HaD4YDGIQQkSgap7H9mK5LSrh/BDfWqRKHuw7PGbc7XY/qUAEB5wE6q6wPiWsBbjlgS8JKwHb2saHBFvAtTCTlmAJnOud93ybzQorKcGaRrGDpLBtXR7gm4eJaYo9Ho8jYMASwA6vQSVqG5MErtQLYMAuJc63UYxXaipVmF3OiZ8Z552QoiiKoiiKI39iMbpo8KMOEwAAAABJRU5ErkJggg==') round;
    text-indent: -9999px;
    display: block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    float: inherit;
}

/* Autocomlete */
.WorkflowDesignerDialog .autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: -1px 1px 3px rgba(0,0,0,.1);
    /* core styles should not be changed */
    position: absolute;
    display: none;
    z-index: 10003;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}

.autocomplete-suggestions {
    text-align: left; cursor: default; border: 1px solid #ccc; border-top: 0; background: #fff; box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute; display: none; z-index: 9999; max-height: 254px; overflow: hidden; overflow-y: auto; box-sizing: border-box;
}


 .autocomplete-suggestion {
    position: relative;
    padding: 0 .6em;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1.02em;
    color: #333;
}

.autocomplete-suggestion b {
    font-weight: normal;
    color: #1f8dd6;
}

.autocomplete-suggestion.selected {
    background: #f0f0f0;
}

.WorkflowDesignerDialog .ui.checkbox > input[type="checkbox"] {
    margin-left: 0px;
}
.WorkflowDesignerDialog .ui.checkbox {
    padding-left: 0px;
}

.WorkflowDesignerDialog .table-icon {
    width: 20px;
    height: 20px;
}


.WorkflowDesignerDialog .movecol{
    width: 5px;
}

table.WorkflowDesignerTable td.movecol{
    padding-right: initial;
}

.WorkflowDesignerDialog .btnmove{
    cursor: move;
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIyMCIgdmlld0JveD0iMCAwIDIwMDAwIDIwMDAwIiBzaGFwZS1yZW5kZXJpbmc9Imdlb21ldHJpY1ByZWNpc2lvbiIgdGV4dC1yZW5kZXJpbmc9Imdlb21ldHJpY1ByZWNpc2lvbiIgaW1hZ2UtcmVuZGVyaW5nPSJvcHRpbWl6ZVF1YWxpdHkiIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTAwMDAgMGMxMzgxIDAgMjUwMCAxMTE5IDI1MDAgMjUwMHMtMTExOSAyNTAwLTI1MDAgMjUwMC0yNTAwLTExMTktMjUwMC0yNTAwUzg2MTkgMCAxMDAwMCAwem0wIDE1MDAwYzEzODEgMCAyNTAwIDExMTkgMjUwMCAyNTAwcy0xMTE5IDI1MDAtMjUwMCAyNTAwLTI1MDAtMTExOS0yNTAwLTI1MDAgMTExOS0yNTAwIDI1MDAtMjUwMHptMC03NTAwYzEzODEgMCAyNTAwIDExMTkgMjUwMCAyNTAwcy0xMTE5IDI1MDAtMjUwMCAyNTAwLTI1MDAtMTExOS0yNTAwLTI1MDAgMTExOS0yNTAwIDI1MDAtMjUwMHoiIGZpbGw9IiM3ZjhjOGQiLz48L3N2Zz4=) round;
    display: block;
    width: 20px;
    height: 20px;
    cursor: move;
    float: inherit;
}

.ui.modal.WorkflowDesignerDialog,
.ui.modal.WorkflowDesignerConfirmDialog,
.ui.modal.WorkflowDesignerDialogChild {
    top: auto;
    bottom: auto;
    left: auto;
    right: auto;
    overflow: visible
}